
<div class="container">
  <h1>New List</h1>

  <%= simple_form_for @list do |f| %>
    <div class="form-group">
      <%= f.input :name, label: 'List Name', input_html: { class: 'form-control' } %>
      <%= f.input :photo, as: :file %>
    </div>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
