<div class="container mt-3">
  <h1 class="mb-4">Movies</h1>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <%= image_tag(movie.poster_url, alt: movie.title, class: "card-img-top") if movie.poster_url.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'Details', movie_path(movie), class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
