<!-- app/views/movies/show.html.erb -->

<h1><%= @movie.title %> Details</h1>
<p><strong>Description:</strong> <%= @movie.overview %></p>
<!-- Ajoutez d'autres détails du film selon vos besoins -->

<!-- Lien pour revenir à la liste des films -->
<%= link_to 'Back to Movies List', movies_path %>
